@import "rsuite/dist/rsuite.css";

#root {
  margin: 0px;
  background-color: #f3f3f8;
}

.sdp {
  --theme-color: #8b5cf6 !important; /* violet color */
}
/* .hover:hover {
  background-color: none;
  display: inline;
  background-color: #e5e5eb;
} */

/* .menu {
  width: 200px;
  display: hidden;
  background-color: none;
} */

/* .max-width {
  width: 100% !important;
}                    */
